<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google Fonts -->
    <!-- font-family: 'Montserrat', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Adhero Complete Profile</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Navbar -->
    <nav class=" navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo-large.png" style="height:100px; width:100px;" alt="brand-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Login/Signup
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/patientLogin">Patient Login</a></li>
                                <li><a class="dropdown-item" href="/patientSignup">Patient Signup</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/doctorLogin">Doctor Login</a></li>
                                <li><a class="dropdown-item" href="/doctorSignup">Doctor Signup</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registerPractice">Register Your Practice</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Title -->
        {{#if message}}
            <h4 class='alert {{messageClass}} mt-4'>{{message}}</h4>
        {{/if}}
    <header class="page-header mx-auto d-flex justify-content-center my-4">
        <h1 class="page-title">Complete Your Profile (1/2)</h1>
    </header>

    <div class="d-flex mx-auto col-md-5">

            <!--form start-->
            <form class="row g-3 needs-validation" action="" method="POST" novalidate>

                <!-- SECTION 1 -->
                <h3 style="color: #FF9500;"> Add Caregiver Details</h3>

                <div class="col-md-6">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="John" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="lname" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Doe" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="john@gmail.com" pattern="^[\w.+\-]+@gmail\.com$" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Email Address !
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="contact-no" class="form-label">Contact Number</label>
                    <input type="tel" class="form-control" id="contact-no" name="contact" pattern="[0-9]{10}" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        10 Digits please !
                    </div>
                </div>

                <!-- SECTION 2 -->
                <h3 class="mt-5" style="color: #FF9500;"> Add Healthcare Details</h3>

                <div class="col-md-12">
                    <label for="healthcare_coverage" class="form-label">Healthcare Coverage</label>
                    <input type="number" min="0" max="250000" class="form-control" id="healthcare_coverage" name="healthcare_coverage"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid input!
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="healthcare_expense" class="form-label">Current Healthcare Expense</label>
                    <input type="number" min="0" class="form-control" id="healthcare_expense" name="healthcare_expense"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid input!
                    </div>
                </div>

                <div class="col-6 mt-5">
                    <a class="btn btn-orange" href="/auth/addAllergies">Next</a>
                </div>

            </form>
            
    </div>

    <!-- Custom JS -->
    <!-- Bootstrap 5 : JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>