<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google Fonts -->
    <!-- font-family: 'Montserrat', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Adhero View Prescription</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Navbar -->
    <nav class=" navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo-large.png" style="height:100px; width:100px;" alt="brand-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Login/Signup
                        </a>
                       <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="patientLogin">Patient Login</a></li>
                            <li><a class="dropdown-item" href="patientSignup">Patient Signup</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="doctorLogin">Doctor Login</a></li>
                            <li><a class="dropdown-item" href="doctorSignup">Doctor Signup</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registerPractice">Register Your Practice</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Title -->
    <header class="page-header mx-auto col-md-7 my-4">
        <h1 class="page-title fw-bold">Prescription for Patient Mr./Mrs. <p id="patient" style="display: inline;"></p> with Dr. <p id="doctor" style="display: inline;"></p> </h1>
    </header>


    <div class="mx-auto col-md-7">

        <!--Form starting-->

       <h3 class="my-3"><b class="text-info">Patient's Name: &nbsp;</b> Mr. Rudransh Joshi</h3>
     
       <h3 class="my-3"><b class="text-info">Age: &nbsp;</b> <p id="age" style="display: inline;">20 yrs</p></h3>

       <h3 class="my-3"><b class="text-info">Starting Date of Dosage: &nbsp;</b> <p id="sdate" style="display: inline;" >15th September 2021</p></h3>

       <h3 class="my-3"><b class="text-info">Ending Date of Dosage: &nbsp;</b> <p id="edate" style="display: inline;" >20th September 2021</p></h3>

       
       <h2 class="fw-bold mb-3">Dosage List: </h2>


       <table id="medicinetable" class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Dosage</th>
            <th scope="col">breakfast</th>
            <th scope="col">Lunch</th>
            <th scope="col">Dinner</th>
          </tr>
        </thead>
        <tbody>
{{!-- 
            <tr>
                <th>Paracetamol</th>
                <th> &#9989; </th>
                <th> &#10060;</th>
                <th>&#9989;</th>
              </tr>
              <tr>
                <th>Paracetamol</th>
                <th> &#9989; </th>
                <th> &#10060;</th>
                <th>&#9989;</th>
              </tr>
              <tr>
                <th>Paracetamol</th>
                <th> &#9989; </th>
                <th> &#10060;</th>
                <th>&#9989;</th>
              </tr>
              <tr>
                <th>Paracetamol</th>
                <th> &#9989; </th>
                <th> &#10060;</th>
                <th>&#9989;</th>
              </tr> --}}
        
        </tbody>
      </table>

    </div><br><br>

    <!-- Custom JS -->
    <script >
        let finalData = {{{finalData}}}
        var patient = document.getElementById('patient')
        patient.innerHTML = finalData.name
        var doctor = document.getElementById('doctor')
        doctor.innerHTML = finalData.docName
        var sdate = document.getElementById('sdate')
        sdate.innerHTML = new Date(Date.parse(finalData.startDate)).toDateString()
        var edate = document.getElementById('edate')
        edate.innerHTML = new Date(Date.parse(finalData.endDate)).toDateString()
        var age = document.getElementById('age')
        age.innerHTML = finalData.age
        var table = document.getElementById('medicinetable')
        var medicinelist = finalData.medObj
        for(var i = 0; i < medicinelist.length ; i ++){
        var row = table.insertRow();
        var cell1 = row.insertCell();
        var cell2 = row.insertCell();
        var cell3 = row.insertCell();
        var cell4 = row.insertCell();
        cell1.innerHTML = `${medicinelist[i].medicine}`
        if(medicinelist[i].breakfast === 1){
            cell2.innerHTML = '&#9989;'
        }else{
             cell2.innerHTML = '&#10060;'
        }
          if(medicinelist[i].lunch === 1){
        cell3.innerHTML = '&#9989;'
        }else{
             cell3.innerHTML = '&#10060;'
        }
          if(medicinelist[i].dinner === 1){
            cell4.innerHTML = '&#9989;'
        }else{
             cell4.innerHTML = '&#10060;'
        }
    
        }

        console.log(finalData)

    </script>
    <!-- Bootstrap 5 : JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>