<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google Fonts -->
    <!-- font-family: 'Montserrat', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Adhero View Appointments</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Navbar -->
    <nav class=" navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo-large.png" style="height:100px; width:100px;" alt="brand-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add Prescription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">See Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Title -->
    <header class="container mx-auto mt-3 mb-3 text-center">
        <h1 id="pageTitle"> My Appointments</h1>
    </header>

    <div class="container" id="cardHolder">

    </div>

    <!-- Custom JS -->
    <script >
        const patDet= {{{bookingDetails}}}
        console.log(typeof patDet);

(function (patDet) {

const cardHolder = document.getElementById("cardHolder");
cardHolder.innerHTML = "";
//card.setAttribute("class", "d-flex flex-column p-5");
//cardHolder.setAttribute("style","background-color:tomato;");

let indexOfSelectedPat = 0;
patDet.forEach((e) => {

  const card = document.createElement("div");
  card.setAttribute("class", "container d-flex p-2 mb-3 text-dark");
  if(e.appointment_type == "Ambulatory" || e.appointment_type == "Urgentcare"){
      card.setAttribute("style", "justify-content:space-evenly; align-items:center;background-color:#FF9500; flex-wrap:wrap; text-transform: capitalize;");
  }
  else{
      card.setAttribute("style", "justify-content:space-evenly; align-items:center;background-color:#ffdb58; flex-wrap:wrap; text-transform: capitalize;");
  }
  // background-color:#d6e5f3;
  const cardData = document.createElement("div");
  cardData.setAttribute("class", "col-md-5");
  // cardData.setAttribute("style","background-color:tomato;");

  const title = document.createElement("h2");
  const name = document.createElement("b");
  name.innerText = `${e.first_name} ${e.last_name}`;
  title.appendChild(name);
  cardData.appendChild(title);

  const age = document.createElement("h4");
  age.innerText = `${e.age} years old`;
  cardData.appendChild(age);

  // if(e.appointment_type == "Video Checkup"){
  //     const addressHolder = document.createElement("div");
  //     const plotNo = document.createElement("h6");
  //     plotNo.innerText = `${e.plot_number}`;
  //     const landmark = document.createElement("h6");
  //     landmark.innerText = `${e.landmark}`;
  //     const street = document.createElement("h6");
  //     street.innerText = `${e.street}`;
  //     const city = document.createElement("h6");
  //     city.innerText = `${e.city}`;
  //     addressHolder.appendChild(plotNo);
  //     addressHolder.appendChild(landmark);
  //     addressHolder.appendChild(street);
  //     addressHolder.appendChild(city);
  //     cardData.appendChild(addressHolder);
  // }


  const bookingDetailsHolder = document.createElement("div");
  bookingDetailsHolder.setAttribute("class", "d-flex flex-column");
  bookingDetailsHolder.setAttribute("style", "height:200px; width:200px; justify-content:center; align-items:center; border-radius:4%");
  const appointmentType = document.createElement("h4");
  appointmentType.setAttribute("style", "text-align:center;");
  appointmentType.setAttribute("class", "mb-3");
  appointmentType.innerText = `${e.appointment_type}`;
  const date = document.createElement("h6");
  date.setAttribute("style", "text-align:center;");
  date.innerText = `${new Date(e.appointment_Dtime).toDateString()}`;
  const time = document.createElement("h6");
  time.innerText = `Time : ${e.appointment_Dtime.slice(11,16)}`;
  bookingDetailsHolder.appendChild(appointmentType);
  bookingDetailsHolder.appendChild(date);
  bookingDetailsHolder.appendChild(time);


  const contactDetailsHolder = document.createElement("div");
  contactDetailsHolder.setAttribute("class", "d-flex flex-column");
  contactDetailsHolder.setAttribute("style", "height:200px; width:200px; justify-content:center; align-items:center;");
  const contactDetailsTitle = document.createElement("h4");
  contactDetailsTitle.setAttribute("style", "text-align:center;");
  contactDetailsTitle.innerText = `Contact Details`;
  const email = document.createElement("h6");
  email.innerText = `${e.email}`;
  if(e.contact_no){
    const phoneNumber = document.createElement("h6");
    phoneNumber.innerText = `${e.contact_no}`;
    contactDetailsHolder.appendChild(contactDetailsTitle);
    contactDetailsHolder.appendChild(phoneNumber);
    contactDetailsHolder.appendChild(email);
  }else{
      contactDetailsHolder.appendChild(contactDetailsTitle);
      contactDetailsHolder.appendChild(email);
  }

  const form = document.createElement("form");
  form.setAttribute("id","startDiagnosisForm"+indexOfSelectedPat);
  form.setAttribute("action","/auth/addPrescription");
  form.setAttribute("method", "POST");

  const startDiagnosis = document.createElement("button");
  startDiagnosis.setAttribute("value", `${e.booking_id}`);
  startDiagnosis.setAttribute("name", "booking_id");
  startDiagnosis.setAttribute("class", "btn btn-dark");
  startDiagnosis.setAttribute("type", "submit");
  startDiagnosis.setAttribute("form", "startDiagnosisForm"+indexOfSelectedPat);
  startDiagnosis.setAttribute("style", "height:40px;");
  startDiagnosis.innerText = `Add Priscription`;

  form.appendChild(startDiagnosis);

  card.appendChild(cardData);
  card.appendChild(bookingDetailsHolder);
  card.appendChild(contactDetailsHolder);
  card.appendChild(form);

  cardHolder.appendChild(card);
  ++indexOfSelectedPat;
});

})(patDet);
    </script>
    <!-- Bootstrap 5 : JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>