body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background: #202731;
    overflow-x: hidden;
}

nav{
    background: white;
}
.waves{
    position:relative;
}

.container{
    z-index: 1;
}
section{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding:200px 20vw;
}

.white{
    background: white;
}

.blue{
    background: #3c31dd;
}

.red{
    background: #dd3f31;
}

.pink{
    background: #ff0066;
}

.black{
    background: #0f0f10;
}

.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 198px;
    transform: rotateY(180deg);
}

.curve .shape-fill {
    fill: #FFFFFF;
}

.btn-orange{
    background: #FF9500;
    color: white;
    font-weight: bold;
}

/* .curve{
    position: absolute;
    height:225px;
    width:100%;
    bottom:0;
}

.curve::before{
    content:'';
    display:block;
    position:absolute;
    border-radius:100% 50%;
    width: 55%;
    height:100%;
    background: #202731;
    transform: translate(85%, 60%);
}

.curve::after{
    content:'';
    display:block;
    position:absolute;
    border-radius:100% 50%;
    width: 55%;
    height:100%;
    background: white;
    transform: translate(-4%, 40%);
    z-index:-1;
} */